language: python
python:
  - "3.8"

services:
  - docker

cache: pip

install:
  - pip install -r requirements.txt

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash) -v -f tests/coverage/.coverage
